<!-- views/partials/header.ejs -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:20px">
    <a class="navbar-brand" href="/">Construction App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Equipment">Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Companies">Companies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Phases">Phases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Crews">Crews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/phaseCrew">Phase_crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipCrew">Equip_crew</a>
            </li>
        </ul>
    </div>
</nav>