.container {
    max-width: 2000px;
}

.jumbotron {
	background-color: #000000;
	
}

body {
	background-color: #000000;
	font-family: Calibri;
	color: #FFFFFF;
}

#board tbody, #board thead, #board tr, #board th, board td, #board {
	background-color: #8d6838;
}

div.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 75%;
  border: 3px solid #000000;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 10px;
}

hr {
  border: 1px solid black;
}